*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section{
  margin-top: 2rem;
  display: flex;
  height: 80vh;
}

.hero-left{
  border: 2px solid red;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  


}
.hero-left-2{
  width: 90%;
  /* border: 2px solid blue; */
  align-items: center;
  justify-content: center;
 
  
}

.hero-right{
  border: 2px solid red;
  width: 40%;

}
.button{
  color: black;
  background-color: yellow;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 10px;
}